:root{
    background-color: blanchedalmond;
    font-family: 'DM Serif Display', serif;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
}
body{
    margin: 0px !important;
}
nav{
    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color: white;
}
nav .logo{
    background-color: #331A00;
    width: 24%;
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 40%;
    height: auto;
    padding: 8px 2px 8px 8px;
    border-radius: 50%;
}
nav .logo .title{
    width: 60%;
    padding-left: 12px;
}
nav ul{
    background-color: #663300;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0px;
    width: 76%;
}
nav ul li{
    padding: 8px;
}