:root{
    background-color: blanchedalmond;
    font-family: 'DM Serif Display', serif;
    max-width: 2400px;
    min-height: 100vh;
    margin: 0 auto;
}
body{
    margin: 0px !important;
}
h1,h2{
    margin-top: 24px;
    margin-left: 24px;
    color:#331A00;
}
nav{
    min-height: 11vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
ul a{
    color: white;
    text-decoration: none;
}
nav .logo{
    background-image: url("/Assets/Logo/WakeCup_500x500.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24%;
}

nav ul{
    background-color: #602D0D ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 76%;
    margin: 0px;
    padding: 12px;
}
nav ul li{
    padding: 8px;
    border-radius: 20%;
    font-size: 20px;
}
nav ul li.active{
    background-color:blanchedalmond;
}
.active a{
    color:#331A00;
}

.banner{
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2020/07/29/08/33/coffee-5447420_960_720.jpg);
    width: 100vw;
    height: 41vh;
    
}
.banner.learnWithUs{
    background-image: url(Assets/LearnWithUs/LearnWithUsHeader.jpg);
    background-size: cover;
    height: 60vh;
}
.banner.aboutUs{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/15/42/bright-1853624_960_720.jpg);
    width: 80vw;
    margin: 24px 10vw 0px 10vw;
    border: 5px solid #331A00;
    
}
.banner.coffeeBlends,.banner.uniqueBlends,.banner.classics, .banner.brewingEquipment{
    background-image: url(https://cdn.pixabay.com/photo/2016/07/28/18/30/coffee-farm-1548771_960_720.jpg);
    height: 24vh;
}
.banner.brewingEquipment{
    background-image: url(https://cdn.pixabay.com/photo/2019/10/22/12/34/speciality-coffee-4568579_960_720.jpg);
}
.banner.contact{
    background-image: none;
    height: 10vh;
}
.banner.ourCafes{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/12/54/cafe-1869656_960_720.jpg);
}
.banner.theSource{
    background-image: url(https://cdn.pixabay.com/photo/2018/05/12/00/32/coffee-3392168_960_720.jpg);

}
.banner .transbox{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    backdrop-filter: contrast(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100%;
}
.banner.learnWithUs .transbox{
    justify-content: end;
    backdrop-filter: contrast(60%);
    animation: appear-left 1.5s ease-in-out 0s forwards;   
}
.banner.contact .transbox{
    background-color: #8d4213;
}
.banner.ourCafes .transbox{
    backdrop-filter: contrast(80%);
}
.banner .heading{
    color:white;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    animation: appear-top 1.5s ease-in-out 0.0s forwards;
    
}
.banner.learnWithUs .heading{
    text-align: right;
    font-style: italic;
    animation: appear-left 1.5s ease-in-out 0s forwards;  
    margin: 5%;
}

.banner.aboutUs .heading{
    animation: appear-left 1.5s ease-in-out 0s forwards;    
    align-self: center;
}
.banner.coffeeBlends .heading{
    text-align: left;
    margin-left: 2%;
    font-size: 1.8em;
    font-style: italic;
    animation: appear-right 1.5s ease-in-out 0s forwards;    
}
.banner.brewingEquipment .heading{
    animation: appear 2s ease-in-out 0s forwards; 
}
.banner.contact .heading{
    text-align: center;
    margin-left: 2%;
    font-size: 1.8em;
    font-style: italic;
    animation: appear-right 1.5s ease-in-out 0s forwards;
}
/* Form in Contact Page */
.form-container{
    border: 1px solid black;
}
form{
    text-align: center;
    margin-top: 5vh;
    
}
form input,select,textarea{
    border: transparent;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width: 40%;
}
.radio-container{
    display: flex;
    flex-direction: row;
    justify-content: center
    
}

.yes-container,.no-container{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;

}
form button{
    border: transparent;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    width: 50%;
    color: white;
}
.gallery {
    display: flex;
    text-align: center;
    height: 41vh;
  }

.gallery-index{
    width: 100%;
    margin: 0px;
}
.gallery-coffeeBlends{
    width: 80vw;
    margin: 5vw 10vw 0px 10vw;

}

.gallery-item{
    transition: scale 500ms ease-in-out, opacity 500ms ease-in-out;
}

.gallery-item .transbox{
    backdrop-filter: contrast(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.gallery-item .transbox a{
    text-decoration: none;
}
.gallery-item.uniqueBlends,.gallery-item.classics{
    transition: none;
}

.gallery .ourCafes {
    background-image: url(https://cdn.pixabay.com/photo/2019/10/22/12/34/speciality-coffee-4568580_960_720.jpg);
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 100%;
    margin: 0px;
}
.gallery .theSource{
    background-image: url(https://cdn.pixabay.com/photo/2019/01/09/18/08/plant-3923923_960_720.jpg);
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 100%;
    margin: 0px;
    
}
.gallery-coffeeBlends .uniqueBlends{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/12/14/22/coffee-1974841_960_720.jpg);
    background-position: center;
    background-size:cover;
    width: 50vw;
    height: 100%;
    margin: 0px 20px 0px 0px;
    border: 5px solid #331A00;
    
}
.gallery-coffeeBlends .classics{
    background-image: url(https://cdn.pixabay.com/photo/2017/12/17/21/44/drink-3025022_960_720.jpg);
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 100%;
    margin: 0px 0px 0px 20px;
    border: 5px solid #331A00;
    
}

.textgallery{
    margin-top: 0px;
    height: 26vh;
    width: 80vw;
    margin: 0px 10vw 11vw 10vw;
}

.textgallery .uniqueBlends{
    background-image: none;
    width: 50vw;
    margin: 0px 20px 0px 0px;
    border: 5px solid #331A00;
}
.textgallery .classics{
    background-image: none;
    width: 50vw;
    margin: 0px 0px 0px 20px;
    border: 5px solid #331A00;
}

.gallery h2{
    color:white;
    font-weight: bold;
    font-size: 32px;
    position: relative;
}
.gallery .text-ub, .text-c{
    margin: 1vh 0 0 0;
    position: relative;
    height: 50%;
    padding: 5px;
}
.gallery .buttoncontainer-ub,.buttoncontainer-c{
    height: 50%;
}
.gallery p{
    color:#331A00;
    font-size: 1.5em;
    margin: 2%;
}
.gallery .ourCafes h2{
    animation: appear-left 1.5s ease-in-out 0s forwards;
}
.gallery .theSource h2{
    animation: appear-right 1.5s ease-in-out 0s forwards;
}

.maintext{
    font-size: 22px;
    padding: 12px;
}

.maintext-aboutUs{
    margin: 10px 54px 40px 54px;
    padding: 24px;
    align-self: center;
    text-align: center;
}
.actionButton{
    background-color:#602D0D;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 26vw;
    margin-top: 24px;
    margin-bottom: 100px;
    margin-left: 37vw;
    margin-right: 37vw;
    padding: 16px;
    border-radius: 2%;
    transition-duration: 0.7s;
    cursor: pointer;
    }
.actionButton.menu-button{
    margin: 24px;
    width: 100%;
}
.button-ub, .button-c{
    margin: 3.25vh 5px 0px 5px;
    display: inline-block;
}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu {
    display: grid;
    width: 50vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(3, 60vh);
  }
.menu.classics,.menu.brewingEquipment, .menu.learnWithUs{
    grid-template-rows: repeat(2, 60vh);
}
.menu.ourCafes,.menu.learnWithUs{
    grid-template-columns: 1;
    width: 80vw;
}
.menu.ourCafes{
    grid-template-rows: repeat(3, 20vh);
}
.menu-item {
    background-color: blanchedalmond;;
    border: 1px solid #602D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.menu-item.learnWithUs, .menu-item.ourCafes{
    width: 80vw;
    height: min-content;
}
.menu-item.ourCafes{
    margin: 0;
}
.menu-item img {
    width: 84%;
    height: 50%;
    object-fit: cover;
    align-self: center;
    margin-top: 2%;
}
.menu-item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.menu-item-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.menu-item-2.learnWithUs,.menu-item-2.ourCafes{
    grid-column: 1/2;
    grid-row: 2/3;
}
.menu-item-3 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.menu-item-3.ourCafes{
    grid-column: 1/2;
    grid-row: 3/4;
}
.menu-item-4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.menu-item-5 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.menu-item-6 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu-text{
    padding: 2%;
    height: 50%;
    width: 80%;
    text-align: center;
}
.menu-text.learnWithUs{
    height: 100%;
    font-size: 1.5em;
}
.menu-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.footer{
    background-color: #602D0D ;
    text-align: center;
    height: 7vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer img{
    width: 3em;
}

.gallery-item:hover{
    scale: 97%;
    opacity: 60%;
}
.gallery-item.uniqueBlends:hover,.gallery-item.classics:hover{
    scale: none;
    opacity: 100%;
}

.actionButton:hover{
    background-color: antiquewhite;
    color: black;
    opacity: 70%;
    border-color: #331A00;
}


@keyframes appear-top{
    from{
        opacity: 0.0;
        top: -100px;
    }
    to{
        opacity: 1.0;
        top: 0.0;
    }
}
@keyframes appear-left{
    from{
        opacity: 0.0;
        left: -300px;
    }
    to{
        opacity: 1.0;
        left: 0.0;
    }
}
@keyframes appear-right{
    from{
        opacity: 0.0;
        right: -300px;
    }
    to{
        opacity: 1.0;
        right: 0.0;
    }
}
@keyframes appear{
    from{
        opacity: 0.0;
    }
    to{
        opacity: 1.0;
    }
}

@media all and (max-width: 1500px){
    .menu-text{
        font-size: 85%;
    }
}

@media all and (max-width: 1000px){
    .gallery p{
        font-size: 16px;
    }
    .menu-text{
        font-size: 80%;
    }
    .banner.contact .heading{
        font-size: 1.5em;
    }
    .banner.uniqueBlends .heading{
        font-size: 25px;
    }
}
/* Tablets (600-800px)*/
@media all and (max-width: 800px){
    .banner.coffeeBlends .heading{
        font-size: 20px;
    }
    .banner.uniqueBlends .heading{
        font-size: 20px;
    }
    .banner.classics .heading{
        font-size: 20px;
    }
    .banner.brewingEquipment .heading{
        font-size: 20px;
    }
    .banner.contact .heading{
        font-size: 1em;
    }
    .gallery p{
        font-size: 15px;
    }
    .menu-text{
        font-size: 70%;
    }
    .button-ub, .button-c{
        margin-top: 0;
    }
}
/* Phones (<600px) */
@media all and (max-width: 600px){
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav .logo{
        width: 60%;
        height: 20vh;
    }

    nav ul{
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    nav ul li{
        text-align: center;
    }
    .actionButton{
        padding: 10px;
    }
    .banner.coffeeBlends .heading{
        font-size: 100%;
    }
    .banner.uniqueBlends .heading{
        font-size: 100%;
    }
    .banner.classics .heading{
        font-size: 100%;
    }
    .banner.brewingEquipment .heading{
        font-size: 1.2em;
    }
    .banner.learnWithUs .heading{
        font-size: 1em;
    }
    .banner.theSource .heading{
        font-size: 1em;
    }
    .banner.contact .heading{
        font-size: 1em;
    }
    .gallery p{
        font-size: 1em;
    }
    .menu-text{
        font-size: 50%;
    }
    .menu-text.brewingEquipment{
        font-size: 0.62em;
    }
    .menu-text.ourCafes{
        font-size: 0.75em;
    }
    .menu-text.learnWithUs{
        font-size: 1em;
    }
    .text-ub,.text-c{
        font-size: 0.85em;
    }
}

  